// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

// keys
// Shift    LSHFT
// Option   LALT
// Control  LCTRL
// Command  LGUI

// (  LS(8)
// )  LS(9)
// /  LS(7)
// &  LS(6)
// %  LS(5)
// $  LS(4)
// #  RA(3)
// @  RA(2)
// "  LS(2)
// |  RA(1)
// !  LS(1)
// =  RPAR
// ^  LBRC
// *  RBRC
// "  AT
// '  SINGLE_QUOTE | APOS ?
// `  LBKT
// +  RBKT
// ?  UNDER
// ¿  PLUS
// ¡  RA(SLASH) ?
// <  GRAVE
// >  LS(GRAVE)
// {  LA(SQT)
// }  RA(BSLH)
// [  RA(LBKT)
// ]  RA(RBKT) ?
// ç  BSLH
// ñ  SEMI

// MOUSEMOVE
// ↑                &mmv MOVE_UP
// ↓                &mmv MOVE_DOWN
// ←                &mmv MOVE_LEFT
// →                &mmv MOVE_RIGHT
// Scroll up        &msc SCRL_UP
// Scroll down      &msc SCRL_DOWN
// Scroll left      &msc SCRL_LEFT
// Scroll right     &msc SCRL_RIGHT
// Left click       &kp LCLK
// Right click      &kp RCLK
// Mouse back       &mkp MB4
// Mouse forward    &mkp MB5


// Home row mods macro
#define HRML(k1,k2,k3) &ht LCTRL k1  &ht LALT k2  &ht LGUI k3
#define HRMR(k1,k2,k3) &ht RGUI k1  &ht RALT k2  &ht RCTRL k3
#define SHFTM(k1) &ht LSHFT k1

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        // 0
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ' "      │
            HRML(A,        S,         D)     &kp F      &kp G          &kp H      &kp J      HRMR(K,         L,        SQT)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ ,        │ .        │ -        │
            SHFTM(Z)   &kp X     &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    SHFTM(FSLH)
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &lt 2 ESC   &kp SPACE     &kp ENTER  &lt 1 BSPC
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        // 1
        right_layer {
            bindings = <
        //╭──────────────┬────────────────┬───────────────┬───────────────┬──────────╮   ╭─────────────────┬──────────┬──────────┬──────────┬──────────╮
        //│ !            │  @             │  #            │  $            │ %        │   │ "               │ 1        │  2       │ 3        │  0       │
            &kp LS(1)      &kp RA(2)        &kp RA(3)       &kp LS(4)       &kp LS(5)      &kp AT            &kp N1     &kp N2     &kp N3     &kp N0
        //├──────────────┼────────────────┼───────────────┼───────────────┼──────────┤   ├─────────────────┼──────────┼──────────┼──────────┼──────────┤
        //│ &            │  /             │  (            │  )            │ =        │   │ '               │ 4        │ 5        │ 6        │  + LT(*) │
            HRML(LS(6),    LS(7),           LS(8))          &kp LS(9)       &kp RPAR       &kp SINGLE_QUOTE  &kp N4     HRMR(N5,       N6,        RBKT)
        //├──────────────┼────────────────┼───────────────┼───────────────┼──────────┤   ├─────────────────┼──────────┼──────────┼──────────┼──────────┤
        //│ {            │  }             │  [            │  ]            │  |       │   │ `               │ 7        │ 8        │ 9        │ LT LT(GT)│ 
            SHFTM(LA(SQT)) &kp RA(BSLH)    &kp RA(LBKT)   &kp RA(RBKT)    &kp RA(1)        &kp LBKT          &kp N7     &kp N8      &kp N9     SHFTM(GRAVE)
        //╰──────────────┴────────────────┴───────────────┼───────────────┼──────────┤   ├─────────────────┼──────────┼──────────┴──────────┴──────────╯
                                                            &tog 4          &kp SPACE      &trans            &trans
        //                                                ╰───────────────┴──────────╯   ╰─────────────────┴──────────╯
            >;
        };

        // 2
        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────────┬──────────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │              │              │   │          │          │          │          │          │
            &trans     &trans     &trans     &trans         &trans             &trans     &trans     &trans     &trans    &trans
        //├──────────┼──────────┼──────────┼──────────────┼──────────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │ VOL DOWN │  VOL UP      │  PLY/PAU     │   │  LEFT    │  DOWN    │  UP      │  RIGHT   │  `       │
            // &kp DEL    &kp N4    &kp K_VOL_DN &kp K_VOL_UP  &kp K_PP           &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp SEMI
            &trans     &trans     &trans     &trans         &trans             &trans     &trans     &trans     &trans    &trans
        //├──────────┼──────────┼──────────┼──────────────┼──────────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ TAB SWTCH│          │          │ SCRNREC      │ SCRNSHOT     │   │ SCRN LEFT│ SCRN DOWN│ SCRN UP  │ SCRN DOWN│ SCRN FULL│
            // &trans     &trans     &trans    &kp LGUI(LS(5)) &kp LGUI(LS(4))    &kp AMPS   &kp UNDER  &kp PLUS   &kp PIPE   &trans
            &trans     &trans     &trans     &trans         &trans             &trans     &trans     &trans     &trans    &trans
        //╰──────────┴──────────┴──────────┼──────────────┼──────────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             // &trans         &trans             &kp ENTER  &tog 4
                                               &trans     &trans     &trans     &trans
        //                                 ╰──────────────┴──────────────╯   ╰──────────┴──────────╯
            >;
        };

        // 3
        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        // 4
        mouse_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //│          │          │          │          │          │   │               │ BACK          │               │ FORWARD       │               │
            &trans     &trans     &trans     &trans     &trans          &trans         &mkp MB4        &trans          &mkp MB5        &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│          │          │          │          │          │   │               │               │               │               │               │
            &trans     &trans     &trans     &trans     &trans         &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_DOWN  &mmv MOVE_RIGHT &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│          │          │          │          │          │   │ SCROLL LEFT   │ SCROLL UP     │ SCROLL DOWN   │ SCROLL RIGHT  │               │
            &trans     &trans     &trans     &trans    &trans          &msc SCRL_LEFT  &msc SCRL_UP    &msc SCRL_DOWN  &msc SCRL_RIGHT &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                             &tog 4     &trans         &kp LCLK        &kp RCLK
        //                                 ╰──────────┴──────────╯   ╰───────────────┴───────────────╯
            >;
        };
    };
};
